$primary-color: darkblue;
$background-color: #bada55;

body {
  margin: 0px;
  padding: 0px;
}

.popupContainer {
  align-items: center;
  flex-direction: column;
  background-color: $background-color;
  border: 2px solid $primary-color;
  color: $primary-color;
  display: flex;
  font-size: 20px;
  height: 150px;
  justify-content: center;
  width: 200px;
}
